            </td>
           </table>
          </div>
         </td>
       </tr>
       <tr>
          <td width="100%" valign="top" height="27" bgcolor="#FDFDFF">
          <table border="0" cellspacing="0" cellpadding="0" width="90%" align="center" bgcolor="#00ccff">
            <tr>
             <td bgcolor="#FDFDFF"><font color="#000080">Хитов за сутки:</font> <font color="#ff0000">%hit%</font></td>
             <td align="right" bgcolor="#FDFDFF"></td>
            </tr>  
            <tr>
             <td bgcolor="#FDFDFF"><font color="#000080">Хостов за сутки:</font> <font color="#ff0000">%host%</font>
             <td align="right"  bgcolor="#FDFDFF" cellpadding="1" cellpacing="1">Сгенерировано за <font color="#ff0000">%mtime%</font> сек.</font></td>
            </tr>  
            <tr>
             <td bgcolor="#FDFDFF"><font color="#000080">Сейчас на форуме:</font> <font color="#ff0000">%user%</font>
                         </tr> 
<td  bgcolor="#FDFDFF"> </td> 
          </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
 </body>
</html> 
