    <table align="center" border="0"  width="300" cellpadding="1" cellspacing="1">
     <tr>
        <td align="center">
           <font color=#000080>Сообщение не добавлено, причина:</font>
        </td>
      </tr>   
       <tr>
        <td>
               1. <font face=verdana size=2> %error1%</font>
           <br>2. <font face=verdana size=2> %error6%</font>
           <br>3. <font face=verdana size=2> %error7%</font>
           <br>4. <font face=verdana size=2> %error8%</font>
           <br>5. <font face=verdana size=2> %error9%</font>
        </td>
      </tr>
    </table>
